#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.student-section{
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
}

.list{
    border: 1px solid White;
    padding: 0px 10px;
}

